/* Основные стили для всей страницы */
body {
    background-color: #f0f0f0; /* Светлый фон для страницы */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Стиль для основной карточки товаров */
.product-card {
    width: 410px; /* Ширина контейнера для карточек */
    height: 306px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Заголовок карточки */
.product-card-title {
    font-size: 24px;
    color: #333333;
    margin-bottom: 20px;
    margin-left: 15px;
}

/* Стиль для списка товаров */
.product-list {
    display: flex;
    gap: 20px; /* Промежуток между карточками */
    justify-content: center;
}

/* Стиль для каждой карточки товара */
.product-item {
    width: 50%;
    height: 80%;
    background-color: #b0b0b0; /* Серый цвет карточки */
    border-radius: 20px;
    padding: 15px;
    margin: 15px;
    box-sizing: border-box;
    display: inline-block;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; /* Равномерное распределение элементов */
}

/* Внутренний блок товара с заливкой */
.product-box {
    width: 100%;
    height: 130px;
    background-color: #ffe599; /* Желтая заливка */
    border-radius: 15px;
}

/* Кнопка "Купить" */
.buy-button {
    width: 100%;
    background-color: #555555;
    color: #ffffff;
    padding: 10px 0;
    border: none;
    margin-top: 10px;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
}

.buy-button:hover {
    background-color: #333333;
}



