/* Общие стили */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #b3b3b3;
}

/* Стили для header */
.header {
    background-color: #001f3f;
    padding: 20px;
    width: fit-content;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    gap: 50px;
}

/* Блок с никнеймом */
.nickname {
    color: white;
    font-size: 18px;
    font-weight: bold;
}

/* Блок с навигацией */
.nav {
    display: flex;
    gap: 30px; /* расстояние между ссылками */
}

.nav a {
    font-size: 18px;
    color: white;
}









