/* Сброс отступов */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #001f3f;
    color: white;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* Стили секции */
.about-section {
    width: 90%;
    max-width: 1200px;
    padding: 20px;
    background-color: #001f3f;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

/* Блок с текстом */
.text-content {
    max-width: 50%;
}

.text-content h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 64px;
    font-weight: 800;
    margin-bottom: 10%;
    white-space: nowrap;
}

.text-content p {
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    line-height: 1.5;
    margin-bottom: 10%;
}

.contact-button {
    padding: 0.5em 1.5em; /* Отступы для вертикали и горизонтали */
    background-color: #d3d3d3; /* Цвет фона кнопки */
    color: #001f3f; /* Цвет текста */
    font-size: 40px; /* Размер шрифта */
    font-weight: bold;
    border: none;
    border-radius: 30px; /* Скругление краев кнопки */
    cursor: pointer;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
    display: inline-block; /* Гарантирует, что кнопка занимает нужное место по размеру текста */
}

.contact-button:hover {
    background-color: #ff9933; /* Цвет фона при наведении */
    color: #FFFFFF;
}

/* Аватар */
.avatar-container {
    width: 40%; /* Задаем ширину контейнера относительно родителя */
    aspect-ratio: 1 / 1; /* Сохраняем квадратное соотношение сторон */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%; /* Делает аватар круглым */
    overflow: hidden;
}

.avatar {
    width: 100%; /* Изображение полностью заполняет контейнер */
    height: 100%;
    object-fit: cover; /* Подстраивает изображение под контейнер */
}












